body{
    background-color: rgb(83, 238, 225);
    font-family: 'Times New Roman', Times, serif;
}
a{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
